---
import { render, type CollectionEntry } from "astro:content";
import { decodeFilePath1 } from "../assets/utils";

interface Props {
  project: CollectionEntry<"project">;
}
const { project } = Astro.props;
const title = decodeFilePath1(project.filePath);
const { Content } = await render(project);
---

<div>
  <div class="flex-container input-mono">
    {
      project.data.link ? (
        <a class="title" href={project.data.link} id={title}>
          {title}
        </a>
      ) : (
        <span class="title" id={title}>
          {title}
        </span>
      )
    }
    {project.data.dateRange.replace("-", "—")}
  </div>
  <div class="description offwhite">
    <Content />
  </div>
</div>

<style lang="scss">
  // cspell:disable
  @use "../assets/variables";

  .flex-container {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: space-between;
    color: white;

    .title {
      font-size: 24px;
      font-weight: 700;
      position: relative;
      display: list-item;
      text-align: left;
      margin-right: 50px;

      &::marker {
        color: white;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 3px;
      }
    }
  }

  .description {
    margin: 30px 10px 30px 30px;
    font-family:
      system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  @media (max-width: variables.$mobile-width) {
    .flex-container .title {
      display: initial;
    }
  }
  // cspell:enable
</style>
