---
import type { CollectionEntry } from "astro:content";

interface Props {
  writeup: CollectionEntry<"ctf-write-up">;
  prevCategory: string | undefined;
}

const { writeup, prevCategory } = Astro.props;
const { Content } = await writeup.render();
---

{
  prevCategory !== writeup.data.category && (
    <div class="category-wrapper">
      <hr />
      <h2 id={writeup.data.category.toLowerCase().replaceAll(" ", "-")}>
        {writeup.data.category}
      </h2>
      <hr />
    </div>
  )
}
<h3 id={writeup.slug.split("/").at(-1)!}>
  {writeup.id.split("/").at(-1)!.replace(".mdx", "")} —
  {writeup.data.points} points
</h3>
<p class="blockquote-wrapper">{writeup.data.description}</p>
<p>
  {
    writeup.data.links && (
      <>
        <i>
          Links:
          {writeup.data.links.map((link, i) => (
            <>
              <a href={link.url}>{link.name}</a>
              {writeup.data.links!.length > 2 &&
                i !== writeup.data.links!.length - 1 && <>,&nbsp;</>}
              {i === writeup.data.links!.length - 2 && <>and</>}
            </>
          ))}
        </i>
        <br />
      </>
    )
  }
  {
    writeup.data.attachments && (
      <i>
        Attachments:
        {writeup.data.attachments.map((attachment, i) => (
          <>
            <a
              class="attachment-link"
              href={`/write-up/${writeup.id.replace(".mdx", "")}/${attachment}`}
            >
              {attachment}
            </a>
            {writeup.data.attachments!.length > 2 &&
              i !== writeup.data.attachments!.length - 1 && <>,&nbsp;</>}
            {i === writeup.data.attachments!.length - 2 && <>and</>}
          </>
        ))}
      </i>
    )
  }
</p>
<span class="offwhite">
  <Content />
</span>

<style lang="scss">
  .blockquote-wrapper {
    border-left: 5px solid hsl(0, 0%, 50%);
    color: hsl(0, 0%, 65%);
    padding-left: 30px;
  }

  .attachment-link {
    display: inline-block;
  }

  .category-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: -25px;

    &:not(:first-of-type) {
      margin-top: 50px;
    }

    h2 {
      margin: 0;
    }

    hr:first-of-type {
      width: 25px;
    }

    hr:last-of-type {
      flex-grow: 1;
    }
  }

  h3 {
    margin-top: calc(1em + 25px);
  }
</style>

<style lang="scss" is:global>
  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
  }
</style>
